---
- hosts: sndbox
  become: yes
  tasks: 
  - name: Replace collectd configuration file
    copy:
      src: etc_collectd_conf
      dest: /etc/collectd/collectd.conf
    notify: Restart collectd
  handlers:
  - name: Restart collectd
    service:
      name: collectd
      enabled: yes
      state: restarted
      